@import '../../styles/variables.module';
.about {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 9.125rem;
    padding-bottom: 8.125rem;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $cor-primaria;
      opacity: 0.1;
      z-index: -1;
    }

    .container{
        width: calc(100% - 7.5rem);
        display: flex;
        justify-content: center;
        gap: 9.125rem;

        .left {
                margin-top: 5.4375rem;
        
        
            .title {
                font-family: $dm-sans;
                color: $cor-secundaria;
                font-size: 2.25rem;
                line-height: 2.875rem;
                font-weight: 700;
                margin-top: 2.6875rem;
            }
    
            .list {
                margin-top: 2.25rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 1.625rem;
            }
    
            .buttons {
                margin-top: 3.75rem;
                display: flex;
                gap: 1.5rem;
    
                .first {
                    background-color: $cor-primaria;
                    border: none;
                    border-radius: .25rem;
                    color: white;
                    font-family: $dm-sans;
                    font-size: 1.125rem;
                    line-height: 1.125rem;
                    font-weight: 700;
                    width: 16.375rem;
                    height: 4.125rem;
                    cursor: pointer;
                }
    
                .second {
                    background-color: transparent;
                    border: 2px solid $cor-secundaria;
                    border-radius: .25rem;
                    color: $cor-secundaria;
                    font-family: $dm-sans;
                    font-size: 1.125rem;
                    line-height: 1.125rem;
                    font-weight: 400;
                    width: 10rem;
                    height: 4.125rem;
                    cursor: pointer;
                }
            }
        }

        .right {
            width: 34.4375rem;
            height: 27.9375rem;
            margin-top: 5.4375rem;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
  }