@import "../../styles/variables.module";

.title{
	width: 100vw;
	display: flex;
	justify-content: center;

	p{
		text-align: center;
		max-width: 38.375rem;
		font-size: 1.125rem;
		line-height: 1.875rem;
		font-weight: 400;
		font-family: $dm-sans;
		color: $cor-secundaria;
		opacity: 0.8;
	}
}