@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

$cor-primaria: #0DB760;
$cor-secundaria: #15295F;
$dm-sans: 'DM Sans', sans-serif;