@import '_variables.module';

.header{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;

    div{
        width: calc(100% - 15rem);
        display: flex;
        justify-content: space-between;

        .left{
            height: 3.8125rem;
            width: auto;

            a{
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .right{
            display: flex;
            justify-content: flex-end;
            font-size: 1.875rem;
            gap: 3.125rem;

            .link{
                color: black;
                text-decoration: none;
                padding-top: 1.5625rem;
                padding-bottom: 0.375rem;
            }

            .link:hover{
                box-sizing: border-box;
                padding-bottom: 0.25rem;
                border-bottom: 2px solid $cor-primaria;
                opacity: 0.8;
                color: $cor-primaria;
            }

            .active{
                color: $cor-primaria;
                padding-bottom: 0.25rem;
                border-bottom: 2px solid $cor-primaria;
            }
        }
    }
}