@import '_variables.module';

.presentation{
    width: 100vw;
    justify-content: center;
    display: flex;
    
    .center{
        display: flex;
        width: calc(100% - 7.5rem);

        .left{
            width: 50%;
            margin-top: 5.0625rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1{
                color: $cor-primaria;
                font-size: 1.375rem;
                line-height: 1.75rem;
                font-weight: 700;
            }

            h2{
                color: $cor-secundaria;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.5rem;
                margin-top: 5.9375rem;
            }

            p{
                font-size: .875rem;
                color: $cor-secundaria;
                line-height: 1.3125rem;
                font-weight: 500;
                margin-top: 1.0625rem;
                max-width: 36.875rem;
            }

            button{
                width: 9.375rem;
                height: 3.0625rem;
                background-color: $cor-primaria;
                color: white;
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
                margin-top: 1.5rem;
                font-size: .9375rem;
                font-weight: 500;
            }
        }

        .right{
            width: 50%;
            height: 30.625rem;
            margin-top: 5.0625rem;
            position: relative;
            overflow: hidden;

            .ball1, .ball2, .ball3{
                width: 23.25rem;
                height: 23.25rem;
                border-radius: 100%;
                background-color: red;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .ball1{
                background-color: $cor-primaria;
                z-index: 3;
                margin-bottom: -1.625rem;
                margin-left: 3.5rem;
            }

            .ball2{
                background-color: $cor-primaria;
                opacity: 0.4;
                margin-bottom: 1.4375rem;
                margin-left: 8.625rem;
                z-index: 2;
            }

            .ball3{
                background-color: $cor-primaria;
                opacity: 0.22;
                margin-bottom: 1.9375rem;
                margin-left: 14.125rem;
                z-index: 1;
            }

            .image{
                z-index: 4;
                position: absolute;
                bottom: 0;
                left: 0;
                
                img{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    
}