@mixin mobile {
  @media (min-width: 360px) {
    @content;
  }
}

@mixin tabletNormal {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tabletPaisagem {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin LaptopPadrao {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin LaptopHD {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin DesktopPadrao {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin DesktopHd {
  @media (min-width: 2560px) {
    @content;
  }
}

.skills {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: calc(90rem - 7.5rem);

  > div {
    display: flex;
    width: 100%;
    max-width: calc(100% - 7.5rem);
    justify-content: space-between;

    @include tabletPaisagem() {
      flex-direction: row;
      align-items: inherit;
    }
  }
}
