@import '../styles/variables.module';

.footer{
    background-color: $cor-primaria;
    min-height: 5.625rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
}