@import '../styles/variables.module';

.footer{
    background-color: $cor-primaria;
    min-height: 5.625rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;

    > div{
        width: calc(100% - 7.5rem);
        display: flex;
        justify-content: space-between;

        ul{
            display: flex;
            gap: 1.875rem;
            
            li{
                width: 30px;
                height: 30px;
    
                svg{
                    fill: white;
                }
            }
        }
    }
}