@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

.blog {
  min-height: 100%;
  background-color: #f9fafb;
  width: 100%;
  margin-top: 10px;

  > div:first-child {
    background-color: var(--cor-primaria);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 1rem;
      padding-block: 4rem;
      max-width: 90rem;

      > div {
        max-width: 48rem;
        margin: 0 auto;
        text-align: center;

        > h1 {
          font-size: 1.5rem;
          line-height: 1.25;
          font-weight: 700;
          margin-bottom: 1rem;
          font-family: var(--poppins);

          @include desktop {
            font-size: 2.25rem;
            line-height: 2.5;
          }
        }

        > p {
          font-size: 1rem;
          line-height: 1.25;

          @include desktop() {
            font-size: 1.25rem;
            line-height: 1.75;
          }
        }
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: center;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 1rem;
      padding-block: 3rem;
      width: 100%;
      flex-direction: column;
      box-sizing: border-box;
      max-width: 90rem;

      > .activeTag {
        margin-bottom: 2rem;
        width: 100%;

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          padding: 1rem;
          border-radius: 0.5rem;
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
            0 1px 2px -1px rgb(0 0 0 / 0.1);
          border-width: 1px;
          border-style: solid;
          border-color: #e5e7eb;

          > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            > span:first-child {
              color: #4a5565;
            }

            > a:not(:first-child) {
              background-color: #e5efea;
              text-decoration: none;
              color: var(--cor-primaria);
              padding-inline: 0.75rem;
              padding-block: 0.25rem;
              border-radius: 3.125rem;
              font-size: 0.875rem;
              line-height: 1.25;
              font-weight: 500;
              border: none;
              cursor: pointer;

              &:hover {
                background-color: var(--cor-primaria);
                color: white;
              }
            }
          }

          > a {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 0.25rem;
            color: #6a7282;
            transition: all 0.2s;
            border: none;
            cursor: pointer;

            &:hover {
              color: var(--cor-primaria);
              transition: all 0.2s;
            }
          }
        }
      }

      > .gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

        @include desktop() {
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
        }

        > div:first-child {
          // grid-area: 1 / 1 / 2 / 3;

          @include desktop() {
            grid-area: 1 / 1 / 2 / 3;
          }

          > section.destaques {
            margin-bottom: 3rem;

            > h2 {
              font-size: 1.5rem;
              line-height: 2;
              color: var(--cor-secundaria);
              margin-bottom: 1.5rem;
              font-family: var(--poppins);
            }

            > div {
              display: flex;
              flex-direction: column;
              gap: 2rem;
            }
          }

          > section.latestPostsMenu {
            > h2 {
              font-size: 1.25rem;
              line-height: 2;
              color: var(--cor-secundaria);
              margin-bottom: 1.5rem;
              font-family: var(--poppins);

              @include desktop() {
                font-size: 1.5rem;
              }
            }

            .emptyPosts {
              background-color: white;
              padding: 2rem;
              border-radius: 0.5rem;
              box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
                0 4px 6px -4px rgb(0 0 0 / 0.1);
              text-align: center;

              > p {
                color: #4a5565;
                margin-bottom: 1rem;
              }

              > button {
                color: var(--cor-primaria);
                cursor: pointer;
                background-color: transparent;
                border: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .latestPosts {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 1.5rem;

              @include desktop() {
                grid-template-columns: repeat(2, 1fr);
              }
            }
          }
        }

        > div.sidebar {
          margin-top: 4.5rem;

          @include desktop() {
            grid-area: 1 / 3 / 2 / 4;
          }

          > div.categories {
            background-color: white;
            border-radius: 0.5rem;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
              0 4px 6px -4px rgb(0 0 0 / 0.1);
            padding: 1.5rem;
            margin-bottom: 2rem;

            > h3 {
              font-size: 1.25rem;
              line-height: 1.75;
              font-weight: 700;
              color: var(--cor-secundaria);
              margin-bottom: 1rem;
              font-family: var(--poppins);
            }

            > div {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;

              > a {
                padding-inline: 0.75rem;
                padding-block: 0.25rem;
                border-radius: 200px;
                font-size: 0.75rem;
                line-height: 1;
                transition: all 0.2s;
                background-color: #e5efea;
                color: var(--cor-primaria);
                border: none;
                cursor: pointer;
                text-decoration: none;

                &.active {
                  background-color: var(--cor-primaria);
                  color: white;
                }

                &:hover {
                  background-color: var(--cor-primaria);
                  color: white;
                }
              }
            }
          }

          .popular {
            background-color: white;
            border-radius: 0.5rem;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
              0 4px 6px -4px rgb(0 0 0 / 0.1);
            padding: 1.5rem;

            > h3 {
              font-size: 1.25rem;
              line-height: 1.75;
              font-weight: 700;
              color: var(--cor-secundaria);
              margin-bottom: 1rem;
              font-family: var(--poppins);
            }

            > div {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              > a {
                display: flex;
                align-items: flex-start;
                gap: 0.75rem;
                text-decoration: none;

                > div:first-child {
                  position: relative;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 0.375rem;
                  overflow: hidden;
                  flex-shrink: 0;

                  > img {
                    object-fit: cover;
                  }
                }

                > div:nth-child(2) {
                  > h4 {
                    font-weight: 500;
                    color: #1e2939;

                    &:hover {
                      color: var(--cor-primaria);
                      transition: all 0.2s;
                    }
                  }

                  > p {
                    font-family: "DM Sans", sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    color: #6b7280;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.featuredPostCard {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #f3f4f6;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.25rem);
  }

  > div {
    display: flex;

    > div:nth-child(1) {
      width: 40%;
      position: relative;
      height: 10.75rem;

      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    > div:nth-child(2) {
      padding: 1.5rem;
      width: 60%;

      > div:nth-child(1) {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 0.75rem;

        > a {
          background-color: #e5efea;
          color: var(--cor-primaria);
          padding-inline: 0.5rem;
          padding-block: 0.25rem;
          border-radius: 200px;
          font-size: 0.75rem;
          line-height: 1;
          transition: all 0.2s;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: var(--cor-primaria);
            color: white;
            transition: all 0.2s;
          }
        }
      }

      > a {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--cor-secundaria);
        margin-bottom: 0.5rem;
        transition: all 0.2s;
        font-family: var(--poppins);
        text-decoration: none;
        display: inline-block;

        &:hover {
          color: var(--cor-primaria);
          transition: all 0.2s;
        }
      }

      > p {
        color: #4a5565;
        margin-bottom: 1rem;
      }

      > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div:first-child {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          > div {
            position: relative;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            overflow: hidden;

            > img {
              object-fit: cover;
            }
          }

          > span {
            font-size: 0.875rem;
            line-height: 1.25;
            color: #364153;
          }
        }

        > div:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          font-size: 0.875rem;
          line-height: 1.25;
          color: #6a7282;

          > div {
            display: flex;
            align-items: center;
            gap: 0.25rem;
          }
        }
      }
    }
  }
}

.postCards {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #f3f4f6; // gray-100
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-4px);
    transition: all 0.2s;
  }

  > div:nth-child(1) {
    position: relative;
    height: 12rem;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  > div:nth-child(2) {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > div:first-child {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 0.75rem;

      a {
        background-color: #e5efea;
        text-decoration: none;
        color: var(--cor-primaria);
        padding-inline: 0.5rem;
        padding-block: 0.25rem;
        border-radius: 200px;
        font-size: 0.75rem;
        line-height: 1;
        border: none;
        cursor: pointer;

        &:hover {
          color: white;
          transition: all 0.2s;
          background-color: var(--cor-primaria);
        }
      }
    }

    > a {
      font-weight: 700;
      color: var(--cor-secundaria);
      margin-bottom: 0.5rem;
      transition: all 0.2s;
      font-family: var(--poppins);
      font-size: 1.125rem;
      text-decoration: none;
      line-height: 1.75;

      &:hover {
        color: var(--cor-primaria);
        transition: all 0.2s;
      }
    }

    > p {
      margin-bottom: 1rem;
      color: #4a5565;
    }

    > div:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #e5e7eb;

      > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > div {
          position: relative;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1.5rem;
          overflow: hidden;

          > img {
            object-fit: cover;
          }
        }
      }

      > div:nth-child(2) {
        font-size: 0.75rem;
        line-height: 1;
        color: #6a7282;
      }
    }
  }
}
