.frontend {
  min-height: 100vh;
  width: 100%;

  > div:first-child {
    background-color: #e6f0eb;
    border-bottom: 1px solid#e5e7eb;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 2rem;

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        > div:first-child {
          > nav {
            display: flex;
            align-items: center;
            font-size: 0.875rem;
            margin-bottom: 0.5rem;

            > a {
              text-decoration: none;
              font-weight: 500;
              display: flex;
              align-items: center;
              gap: 0.25rem;
              color: var(--cor-primaria);

              &:hover {
                text-decoration: underline;
              }
            }
          }

          > h1 {
            font-size: 2.25rem;
            font-weight: bold;
            color: var(--cor-secundaria);
            font-family: "Poppins", sans-serif;
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            margin-top: 0.75rem;
            font-size: 0.875rem;
            color: #6b7280;

            > div:nth-child(1),
            div:nth-child(2) {
              display: flex;
              align-items: center;
              gap: 0.25rem;
            }

            > div:nth-child(3) {
              display: flex;
              align-items: center;
              gap: 0.25rem;

              > div {
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 1.5rem;
                overflow: hidden;

                > img {
                  object-fit: cover;
                }
              }
            }
          }
        }

        > div:last-child {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          > button {
            display: flex;
            align-items: center;
            gap: 1rem;
            background-color: white;
            color: #374151;
            padding: 0.5rem 1rem;
            border-radius: 12px;
            border: 1px solid #d1d5db;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              background-color: #ccc;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;

    > div:first-child {
      position: relative;
      width: 100%;
      height: 31.25rem;
      border-radius: 0.5rem;
      overflow: hidden;
      margin-bottom: 2rem;

      > img {
        object-fit: cover;
        object-position: top;
      }
    }

    > div:nth-child(2) {
      max-width: 1440px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      > div:first-child {
        grid-column: span 2 / span 2;

        > div:first-child {
          background-color: var(--white);
          border-radius: 0.5rem;
          box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          padding: 1.5rem;
          margin-bottom: 2rem;

          > div {
            font-family: var(--poppins);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;

            h2 {
              color: var(--cor-secundaria);
              font-family: var(--poppins);
              margin-top: 1.5em;
              margin-bottom: 0.8em;
              font-weight: 600;
            }

            h3 {
              color: var(--cor-primaria);
              font-family: var(--poppins);
              margin-top: 1.2em;
              margin-bottom: 0.6em;
            }

            code {
              background-color: #f1f1f1;
              padding: 0.2em 0.4em;
              border-radius: 0.25rem;
              font-size: 0.875em;
            }

            pre {
              background-color: #f1f1f1;
              padding: 0.2em 0.4em;
              border-radius: 0.5rem;
              font-size: 0.875em;
              margin-top: 1rem;
              margin-bottom: 1rem;
            }

            strong {
              font-weight: 700;
            }
          }
        }

        > div:nth-child(2) {
          margin-bottom: 2rem;

          > h3 {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--cor-secundaria);
            margin-bottom: 1rem;
            font-family: var(--poppins);
          }

          > div {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            a {
              background-color: #e6f0eb;
              color: var(--cor-primaria);
              padding: 0.25rem 0.75rem;
              border-radius: 1000px;
              font-size: 0.875rem;
              transition: all 0.2s ease-in-out;
              text-decoration: none;

              &:hover {
                background-color: var(--cor-primaria);
                color: var(--white);
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
      }

      > div:nth-child(2) {
        margin-bottom: 2rem;

        > div:nth-child(1) {
          box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          padding: 1.5rem;
          border-radius: 0.5rem;

          > h3 {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--cor-secundaria);
            margin-bottom: 1rem;
            font-family: var(--poppins);
          }

          > div {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;

            > div:nth-child(1) {
              position: relative;
              width: 4rem;
              height: 4rem;
              border-radius: 4rem;
              overflow: hidden;
            }

            > div:nth-child(2) {
              > h4 {
                font-size: 1.125rem;
                font-weight: 600;
              }

              > p {
                color: #4b5563;
                font-family: var(--poppins);
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                margin-top: 0.25rem;
              }
            }
          }

          > p {
            color: #4b5563;
            font-family: var(--poppins);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
          }
        }

        > div:nth-child(2) {
          box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 23px 1px rgba(0, 0, 0, 0.1);
          padding: 1.5rem;
          border-radius: 0.5rem;
          margin-top: 1.5rem;

          > h3 {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--cor-secundaria);
            margin-bottom: 1rem;
            font-family: var(--poppins);
          }

          > div {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > a {
              display: block;
              padding: 1rem;
              border: 1px solid rgb(229, 231, 235);
              border-radius: 8px;
              text-decoration: none;
              transition: all 0.2s ease-in-out;
              color: #374151;

              &:hover {
                border: 1px solid var(--cor-primaria);
                background-color: #e6f0eb;
                transition: all 0.2s ease-in-out;
                color: var(--cor-primaria);
              }

              > h4 {
                font-weight: 600;
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
