@import '../../styles/variables.module';

.left{
    display: flex;
    flex-direction: column;
    margin-left: auto;

    h2{
        color: $cor-secundaria;
        font-size: 2.5rem;
        line-height: 3.375rem;
        margin-top: 7.125rem;
        max-width: 24rem;
        font-weight: 600;

        span{
            color: $cor-primaria;
        }
    }

    p{
        color: #323433;
        font-size: 1rem;
        margin-top: 1.5rem;
        max-width: 21.875rem;
    }
    
    button{
        margin-top: 2.5rem;
        background-color: $cor-primaria;
        color: white;
        width: 8.625rem;
        height: 3.5rem;
        border: none;
        border-radius: .25rem;
        font-weight: 500;
        cursor: pointer;
    }
}