.desktopGeral{
  background-color: rgba($color: #000000, $alpha: 0.2);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.desktopClass {
  pointer-events: all;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--white);
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #e5e7eb;
  overflow: auto;

  > div:first-of-type{
    display: flex;
    justify-content: flex-end;

    > button{
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  > h2 {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
  }

  > button {
    width: 100%;
    background-color: var(--cor-secundaria);
    color: var(--white);
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.625rem;
    opacity: 1;

    &:hover {
      transition: all 0.2s ease-in-out;
      background-color: var(--cor-secundaria);
      color: var(--white);
      opacity: 0.8;
    }
  }

  > p {
    font-size: 0.875rem;
    color: #4B5563;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  > div:last-of-type {
    > h3 {
      font-size: 1.5rem;
      color: black;
      margin-bottom: 0.625rem;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0.875rem;
      color: var(--cor-primaria);
      margin-bottom: 1.25rem;

      > li > a {
        text-decoration: none;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        gap: 10px;
        min-height: 30px;

        &:hover {
          color: var(--cor-secundaria);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > h4 {
        font-size: 1.5rem;
        color: black;
        margin-bottom: 0.625rem;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 0.625rem;

          > span {
            font-size: 0.875rem;
            font-weight: 400;
            color: #6B7280;
          }
        }
      }
    }
  }
}

.text-blue-400 {
  color: #3b82f6;
}

.text-green-400 {
  color: #22c55e;
}

.text-yellow-400 {
  color: #fbbf24;
}

.text-purple-400 {
  color: #a855f7;
}

.text-pink-400 {
  color: #ec4899;
}

.icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}