@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

.estudeComigo {
  min-height: 100vh;
  width: 100%;
  margin-top: 10px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 4rem;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 56rem;
      width: 100%;

      > h2 {
        font-weight: 700;
        margin-bottom: 2rem;
        color: var(--cor-primaria);
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.5;
        
        @include desktop {
          font-size: 1.5rem;
        }
      }
    }
  }
}
