@import "../../styles/variables.module";

.bottom{
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-top: 3.125rem;

	button{
		background-color: $cor-primaria;
		border: none;
		color: white;
		height: 3.5rem;
		width: 11rem;
		border-radius: .25rem;
		font-size: 1rem;
		line-height: 1.5;
		font-family: $poppins;
		font-weight: 500;
        cursor: pointer;
	}

	.espaco {
		margin-bottom: 3.75rem;
	}
}
