@mixin mobile {
  @media (min-width: 360px) {
    @content;
  }
}

@mixin tabletNormal {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tabletPaisagem {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin LaptopPadrao {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin LaptopHD {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin DesktopPadrao {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin DesktopHd {
  @media (min-width: 2560px) {
    @content;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;

  @include tabletPaisagem() {
    margin-left: auto;
    min-width: 400px;
  }

  h2 {
    color: var(--cor-secundaria);
    font-size: 2.5rem;
    line-height: 3.375rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    max-width: 24rem;

    @include tabletPaisagem() {
      width: fit-content;
    }

    span {
      color: var(--cor-primaria);
    }
  }

  p {
    color: #323433;
    font-size: 1rem;
    max-width: 21.875rem;
    width: 100%;
    text-align: center;
    line-height: 1.5;

    @include tabletPaisagem() {
      width: auto;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-family: var(--dm-sans);
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 700;
    width: 16.375rem;
    height: 4.125rem;

    @include tabletPaisagem() {
      margin: 0;
    }
  }
}
