.itemList{
    display: flex;
    gap: .625rem;

    div{
        background-color: var(--cor-primaria);
        width: 1.3125rem;
        height: 1.3125rem;
        border-radius: 1rem;
        background-image: url("./Check.svg");
        background-size: .625rem .4375rem;
        background-position: 50%;
        background-repeat: no-repeat;
    }

    p{
        color: #5D5A88;
        font-family: 'DM Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125rem;
    }
}