@import '../../styles/variables.module';

.skillsleft{
    margin-top: 4.3125rem;
    font-size: 2.75rem;
    line-height: 3.6875rem;
    font-weight: 600;
    color: $cor-secundaria;
    max-width: 34rem;

    span{
        color: $cor-primaria;
        max-width: 29.6875rem;
    }

    p{
        font-size: 1.125rem;
        font-weight: 400;
        margin-top: 1.625rem;
        color: $cor-secundaria;
        line-height: 1.5;
        max-width: 29.6875rem;
    }

    button{
        margin-top: 2.75rem;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5;
        color: white;
        background-color: $cor-primaria;
        border: none;
        border-radius: .25rem;
        width: 9.375rem;
        height: 3.8125rem;
    }
}